
/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Comic Relief", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Global styles */

body {
    font-family: var(--primary-font);
    /* background-color:#ffeb90; */
    padding-top: 57.15px; /*Pushes the top due to the top fixed feature*/
}


#navbar{
    background-color:#f2cb4d;
}

/* Navbar logo */
.navbar-brand .logo {
    height: 60px;
    width: auto;
}
.section {
    /* prevent navbar overlap */
   padding-top: 6rem; 
}


/* Hero section */

.hero {
  height: 500px;
  background: url(../images/hero1.jpg) no-repeat center center/cover;
  position: relative;
  color:aliceblue;
  display: flex;
  align-items:flex-end;
  justify-content: center; 

}
.hero_heading {
  position: absolute;
  top: 15%;
  left: 8%;
  font-size: 60%;

}
.hero_subheading{
    position: absolute;
    bottom: 25%;
    right: 5%;
}


.btn{
    opacity: .8;
}

/* wellness */

#wellness .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#wellness .card {
    margin-bottom: 1.5rem;
}
#wellness .card img{
    height: 250px;
    object-fit: cover;
}
/* Game library cards */

#new-games .card,
#fav-games .card {
    border: none;
}
#resources {
    background-color: rgb(245, 247, 247);
}
#positive_affirmations {
    background-color: #2fa9b2;
    border-radius: 5px;
}
