
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Global styles */

body {
    font-family: var(--primary-font);
    background-color:#ffeb90;
    padding-top: 57.15px; /*Pushes the top due to the top fixed feature*/
}


#navbar{
    background-color:white;
}

/* Navbar logo */
.navbar-brand .logo {
    height: 60px;
    width: auto;
}